/* Обнуление стилей */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dd,
ol,
ul,
figure,
hr,
fieldset,
legend,
button,
input,
select,
textarea,
th,
td {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

ul,
ol {
    list-style: none;
}

img,
embed,
iframe,
object,
audio,
video {
    display: block;
    max-width: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button,
input,
select,
textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}

button,
select {
    text-transform: none;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

body {
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
}